header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.25rem;
}

.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--colour-primary);
}

.me {
    background: linear-gradient(var(--colour-primary), transparent);
    width: 33rem;
    height: 35rem;
    position: absolute;
    left: calc(50% - 16.5rem);
    margin-top: 4rem;
    border-radius: 18rem 18rem 0 0;
    padding: 3.25rem 2.25rem 2.25rem 2.25rem;
}

/* NAV */

nav.active {
    transition: all 1200ms ease;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

  }

nav.hidden{
    transition:  all 1500ms ease;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -20%;
}

nav{
    background: rgba(0,0,0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    position: fixed;
    bottom: 2rem;
    backdrop-filter: blur(1rem);
}

nav a {
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--colour-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0,0,0, 0.3);
}

nav a.active{
    background-color: var(--colour-bg);
    color: var(--colour--white);
}

/* ABOUT */
#about{
    height: auto;
    /* min-height: 75vh; */

}

.about__container{
   display: grid;
   grid-template-columns: 35% 50%;
   gap: 15%; 
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--colour-primary);
    box-sizing: border-box;
    /* linear-gradient(45deg, transparent, var(--colour-primary), transparent); */

    display: grid;
    place-items: center;
}

.about__me-image {
    width: 102%;
    background-color: var(--colour-bg-varient);
    border-radius: 50%;
    overflow: hidden;
    
    transition: var(--transition);
}

.about__me-image:hover{
    transform: translate(1rem, 1rem) rotate(8deg);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem
}

.about__card {
    background-color: var(--colour-bg-varient);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover{
    background-color: transparent;
    border-color: var(--colour-primary);
    cursor: default;
}

.about__icon {
    color: var(--colour-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--colour-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--colour-light);
}

/* PORTFOLIO */

.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item{
    background: var(--colour-bg-varient);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}


.portfolio__item:hover{
    border-color: var(--colour-primary-varient);
    background: transparent;
    color: var(--colour-primary);
}

.portfolio__item h3 {
    margin-top: 1rem;
}

.portfolio__item p {
    margin-top: 0.3rem;
    font-size: 0.75rem;
    color: var(--colour-light);
}
.project-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.project-links{
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

.project-links a{
    height: max-content;
}

.item__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.75rem;
    height: 100%;
}

.technoUsed{
    display: flex;
    gap: 0.3rem;
    font-size: 0.7rem;
    margin-top: 1rem;
    color: var(--colour-light);
}

.folderIcon{
    font-size: 2.5rem;
}

/* CONTACT */
#contact{
    /* max-width: 50%; */
    margin: 0 auto;
    margin-top: 12rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--colour-primary-variant);
    resize: none;
    color: var(--colour--white);
}
/* MEDIA QUERIES */

@media screen and (max-width: 1024px) and (min-height: 800px) {
    header{
        height: 68vh;
    }

    .header__socials{
        display: none;
    }

    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0  1.5rem;
    }

    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    
    #portfolio{
        height: auto;
    }

    
}

@media screen and (max-width: 1024px){
    header{
        height: 100vh;
    }


    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__content{
        text-align: center;
    }

    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0  1.5rem;
    }

    #portfolio{
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    header{
        height: 100vh;
    }

    .header__socials{
        display: none;
    }

    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content{
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #portfolio{
        height: auto;
    }

}